{{#each this}}
  <li class='country-list__item'>
    <img src='{{flags.svg}}' alt='{{name.official}}' width='100' class='country-list__img' />
    <p class='country-list__paragraph'>{{name.official}}</p>
  </li>
{{/each}}